:root{
    --verde: #00b30c;
    --gris1: #676d67;
}
 /* header{
    background-image: url('../img/banner.jpg');
   /* height: 320px;*/
   /* min-height: 30rem; */
   /* background-size: cover;
 /* } */

  header .nav-link,
  header .nav-link:hover{
      color: white;
  }
header .btn-ountline-light:hover{
    color: black!important;
}

.btn-success{
    background-color: blue!important;
}
 